.contact-title {
  background: $primary;
  color: --white;
  display: flex;
  justify-content: space-between;
  padding: $spacer * 2;
}

.contact-info {
  align-items: center;
  background-color: $light;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $spacer;
  width: 50vw;

  .avatar {
    align-items: center;
    background-color: $light;
    border-radius: 50%;
    box-shadow: $shadow;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: $spacer * 2;
    margin-top: -95px;
    width: 150px;
  }
}
